############################
# 🔥 Visual Studio
############################
.vs/
*.suo
*.user

############################
# 🔥 VSCode
############################
.vscode/

############################
# 🔥 .NET build
############################
bin/
obj/
*.dll
*.exe
*.pdb
*.cache
*.log

############################
# 🔥 Frontend
############################
node_modules/
dist/
build/
.cache/
*.map

############################
# 🔥 System / Backup / Temp
############################
Thumbs.db
Desktop.ini
*.tmp
*.bak
*.old
